.Completed {
  width: 100%;
  margin-left: 17%;
  background-color: #fff;
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border:solid 2px #333333;
  position:relative;
}

.Rejected {
  background-color: #ffcccc; /* Light red background */
  border-left: 5px solid red; /* Red border on the left */
  padding: 10px;
  margin-bottom: 10px;
}

.RejectedText {
  color: red;
  font-weight: bold;
}

@media (max-width: 431px) {
  .Completed {
    margin-left: 0;
    padding: 0.75rem;
  }
  .Rejected {
    padding: 0.75rem;
  }
}
